.job-bar {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin-bottom: 15px;
  font-size: 20px;
  border: 1px solid #DEDFE3;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.07);
  background-clip: padding-box;
  background-color: white;
  border-radius: 4px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

.logo {
  align-self: center;
}

.job-bar .logo img.company-logo {
  width: 120px;
  max-height: 120px;
  padding: 15px;
}

.text {
  // -webkit-transition: all 0.2s ease;
  min-height: 120px;
  height: 100%;
  padding: 36px 25px;
  margin: 0 120px;
  border-left: 1px solid #F0F1F3;
  display: block;
}

.job-title {
  display: block;
  font-size: 18px;
  padding: 2px 0;
  font-weight: 500;
}

.company-name {
  display: block;
  font-size: 13px;
  color: #9DA3AF;
  font-weight: 500;
}

.details {
  -webkit-transition: all 0.2s ease;
  position: absolute;
  right: 0;
  top: 0;
  width: 140px;
  height: 100%;
}

.job-description {
  padding: 44px 30px 36px 0px;
  color: #9DA3AF;
  text-align: right;
  font-size: 13px;
  font-weight: 500;
}


// #DIV_1 {
//     bottom: 0px;
//     box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 3px 0px;
//     box-sizing: border-box;
//     color: rgb(28, 30, 35);
//     height: 122px;
//     left: 0px;
//     position: relative;
//     right: 0px;
//     text-decoration: none solid rgb(28, 30, 35);
//     text-size-adjust: 100%;
//     top: 0px;
//     width: 877.5px;
//     column-rule-color: rgb(28, 30, 35);
//     perspective-origin: 438.75px 61px;
//     transform-origin: 438.75px 61px;
//     caret-color: rgb(28, 30, 35);
//     background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box padding-box;
//     border: 1px solid rgb(222, 223, 227);
//     border-radius: 4px 4px 4px 4px;
//     font: normal normal 400 normal 20px / 28.5714px LabGrotesque, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
//     margin: 0px 0px 15px;
//     outline: rgb(28, 30, 35) none 0px;
//     overflow: hidden;
// }/*#DIV_1*/

// #DIV_2 {
//     bottom: 0px;
//     box-sizing: border-box;
//     color: rgb(28, 30, 35);
//     height: 120px;
//     left: 0px;
//     max-height: 100%;
//     max-width: 100%;
//     position: absolute;
//     right: 755.5px;
//     text-decoration: none solid rgb(28, 30, 35);
//     text-size-adjust: 100%;
//     top: 0px;
//     width: 120px;
//     column-rule-color: rgb(28, 30, 35);
//     align-self: center;
//     perspective-origin: 60px 60px;
//     transform-origin: 60px 60px;
//     caret-color: rgb(28, 30, 35);
//     border: 0px none rgb(28, 30, 35);
//     font: normal normal 400 normal 20px / 28.5714px LabGrotesque, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
//     outline: rgb(28, 30, 35) none 0px;
// }/*#DIV_2*/

// #A_3 {
//     box-sizing: border-box;
//     color: rgb(28, 30, 35);
//     text-decoration: none solid rgb(28, 30, 35);
//     text-size-adjust: 100%;
//     column-rule-color: rgb(28, 30, 35);
//     caret-color: rgb(28, 30, 35);
//     border: 0px none rgb(28, 30, 35);
//     font: normal normal 400 normal 20px / 28.5714px LabGrotesque, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
//     outline: rgb(28, 30, 35) none 0px;
// }/*#A_3*/

// #IMG_4 {
//     box-sizing: border-box;
//     color: rgb(28, 30, 35);
//     height: 120px;
//     max-height: 120px;
//     text-decoration: none solid rgb(28, 30, 35);
//     text-size-adjust: 100%;
//     vertical-align: middle;
//     width: 120px;
//     column-rule-color: rgb(28, 30, 35);
//     perspective-origin: 60px 60px;
//     transform-origin: 60px 60px;
//     caret-color: rgb(28, 30, 35);
//     border: 0px none rgb(28, 30, 35);
//     font: normal normal 400 normal 20px / 28.5714px LabGrotesque, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
//     outline: rgb(28, 30, 35) none 0px;
//     padding: 15px;
// }/*#IMG_4*/

// #A_5 {
//     box-sizing: border-box;
//     color: rgb(28, 30, 35);
//     display: block;
//     height: 120px;
//     min-height: 120px;
//     text-decoration: none solid rgb(28, 30, 35);
//     text-size-adjust: 100%;
//     width: 635.5px;
//     column-rule-color: rgb(28, 30, 35);
//     perspective-origin: 317.75px 60px;
//     transform: matrix(1, 0, 0, 1, 0, 0);
//     transform-origin: 317.75px 60px;
//     caret-color: rgb(28, 30, 35);
//     border-top: 0px none rgb(28, 30, 35);
//     border-right: 0px none rgb(28, 30, 35);
//     border-bottom: 0px none rgb(28, 30, 35);
//     border-left: 1px solid rgb(240, 241, 243);
//     font: normal normal 400 normal 20px / 28.5714px LabGrotesque, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
//     margin: 0px 120px;
//     outline: rgb(28, 30, 35) none 0px;
//     padding: 36px 25px;
//     transition: all 0.2s ease 0s;
// }/*#A_5*/

// #DIV_6 {
//     box-sizing: border-box;
//     color: rgb(28, 30, 35);
//     height: 29px;
//     text-decoration: none solid rgb(28, 30, 35);
//     text-size-adjust: 100%;
//     width: 584.5px;
//     column-rule-color: rgb(28, 30, 35);
//     perspective-origin: 292.25px 14.5px;
//     transform: matrix(1, 0, 0, 1, 0, 0);
//     transform-origin: 292.25px 14.5px;
//     caret-color: rgb(28, 30, 35);
//     border: 0px none rgb(28, 30, 35);
//     font: normal normal 500 normal 18px / 25.7143px LabGrotesque, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
//     outline: rgb(28, 30, 35) none 0px;
//     padding: 2px 0px;
//     transition: all 0.2s ease 0s;
// }/*#DIV_6*/

// #SPAN_7 {
//     box-sizing: border-box;
//     color: rgb(157, 163, 175);
//     display: block;
//     height: 18px;
//     text-decoration: none solid rgb(157, 163, 175);
//     text-size-adjust: 100%;
//     width: 584.5px;
//     column-rule-color: rgb(157, 163, 175);
//     perspective-origin: 292.25px 9px;
//     transform-origin: 292.25px 9px;
//     caret-color: rgb(157, 163, 175);
//     border: 0px none rgb(157, 163, 175);
//     font: normal normal 500 normal 13px / 18.5714px LabGrotesque, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
//     outline: rgb(157, 163, 175) none 0px;
// }/*#SPAN_7*/

// #DIV_8 {
//     bottom: 0px;
//     box-sizing: border-box;
//     color: rgb(28, 30, 35);
//     height: 120px;
//     left: 735.5px;
//     position: absolute;
//     right: 0px;
//     text-decoration: none solid rgb(28, 30, 35);
//     text-size-adjust: 100%;
//     top: 0px;
//     width: 140px;
//     column-rule-color: rgb(28, 30, 35);
//     perspective-origin: 70px 60px;
//     transform: matrix(1, 0, 0, 1, 0, 0);
//     transform-origin: 70px 60px;
//     caret-color: rgb(28, 30, 35);
//     border: 0px none rgb(28, 30, 35);
//     font: normal normal 400 normal 20px / 28.5714px LabGrotesque, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
//     outline: rgb(28, 30, 35) none 0px;
//     transition: all 0.2s ease 0s;
// }/*#DIV_8*/

// #DIV_9 {
//     box-sizing: border-box;
//     color: rgb(157, 163, 175);
//     height: 116px;
//     text-align: right;
//     text-decoration: none solid rgb(157, 163, 175);
//     text-size-adjust: 100%;
//     width: 140px;
//     column-rule-color: rgb(157, 163, 175);
//     perspective-origin: 70px 58px;
//     transform-origin: 70px 58px;
//     caret-color: rgb(157, 163, 175);
//     border: 0px none rgb(157, 163, 175);
//     font: normal normal 500 normal 13px / 18.5714px LabGrotesque, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
//     outline: rgb(157, 163, 175) none 0px;
//     padding: 44px 30px 36px 0px;
// }/*#DIV_9*/

// #BR_10 {
//     box-sizing: border-box;
//     color: rgb(157, 163, 175);
//     text-align: right;
//     text-decoration: none solid rgb(157, 163, 175);
//     text-size-adjust: 100%;
//     column-rule-color: rgb(157, 163, 175);
//     caret-color: rgb(157, 163, 175);
//     border: 0px none rgb(157, 163, 175);
//     font: normal normal 500 normal 13px / 18.5714px LabGrotesque, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
//     outline: rgb(157, 163, 175) none 0px;
// }/*#BR_10*/

