<div class="container">
  <div class="row perk-margin">
    <%= render 'filter_index' %>

    <div class="col-md-8 col-sm-8">
      <div class="jobs"><%= render 'jobs' %></div>
    </div>
  </div>
</div>
