<div class="form-wrapper">
<%= simple_form_for @job, :url => company_jobs_path(@company, @job), :method => :post do |f| %>
  <p>Create a Job</p>
    <%= f.input :title, label: "Title of job" %>
    <%= f.submit 'Create', class: "btn btn-success" %>
  <% end %>
</div>
