<div class="form-wrapper">
  <%= simple_form_for (@job) do |f| %>
  <p>Create Startup Profile</p>
    <%= f.input :title, label: "Title of job" %>
    <%= f.submit 'Create', class: "btn btn-success" %>
  <% end %>
</div>
