<div class="company-color">
  <div class="container">
    <h2 class=style-section>Job Basics</h2>
    <div class="main-body">
      <% if current_user %>
        <%= render 'jobs/apply/registered_job' %>
      <% else %>
        <%= render 'jobs/apply/quick_job' %>
      <% end %>
    </div>
  </div>
</div>



