<footer class="footer footer-black footer-big text-center">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 ml-auto mt-auto mb-auto mr-auto ml-auto">
        <%= image_tag("logo.png", height: "80", alt: "Konarciq Logo") %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 ml-auto mr-auto ">
        <div class="links ml-auto mr-auto">
          <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Team
              </a>
            </li>
            <li>
              <a href="#">
                About
              </a>
            </li>
            <li>
              <a href="#">
                Contact
              </a>
            </li>
          </ul>
          <hr>
          <div class="copyright">
            <div class="pull-left">
              By <a href="https://www.linkedin.com/in/hakeem-baba-422282106/" target="_blank" style="color:white">Hakeem Baba</a> <i class="fa fa-heart heart"></i>
              <!-- <script>
                document.write(new Date().getFullYear())
              </script> -->
            </div>
            <div class="pull-right">
              <ul>
                <li>
                  <a href="#">
                    Terms
                  </a>
                </li>
                |
                <li>
                  <a href="#">
                    Privacy
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
