<p>Hi Recruiter, in this email, you would find details of the latest applicant</p>
<p><%= @applicant.full_name %></p>
<p>Resume: <%= @applicant.resume %></p>
<p><%= @applicant.email %></p>
<p><%= @applicant.mobile_number %></p>
