<p>Hi <%= @applicant.full_name %>,</p>
<p>This is your resume information <%= @applicant.resume %></p>
<p>This is your cover letter information <%= @applicant.cover_letter %></p>
<p><%= @applicant.job.title %></p>
<p>Thanks for application, have a nice day</p>

