
<% @companies.each do |company| %>
  <h1><%= company.name %></h1>
  <h1><%= company.description %></h1>
  <h1><%= company.location %></h1>
  <h1><%= company.sector %></h1>
<% end %>


<h1>show erb</h1>
